<div class="card">
  <div class="card-body">
    <div class="alert alert-dark alert-dismissible" role="alert">
      <div style="text-align: center;font-size: 16px;">Ajouter  Fournisseur</div>
      </div>
      
  <div class="row">
    <div class="col-md-2"></div>
    
    <div class="col-md-8">
      <form [formGroup]="FournisseurForm" (ngSubmit)="onSaveFournisseur()">
        <div class="form-group">
          <label for="nom">Nom</label>
          <input type="text" id="nom"
                 class="form-control" formControlName="nom" [ngClass]="{ 'is-invalid': FournisseurForm.get('nom').invalid && FournisseurForm.get('nom').touched}">
                 <div class="invalid-feedback alert alert-danger">
                     Name is required.
                   </div>
        </div>
        <div class="form-group">
            <label for="prenom">Prénom</label>
            <input type="text" id="prenom"
                   class="form-control" formControlName="prenom"[ngClass]="{ 'is-invalid': FournisseurForm.get('prenom').invalid && FournisseurForm.get('prenom').touched}">
                   <div class="invalid-feedback alert alert-danger">
                       Prenom is required.
                     </div>
          </div>
        
          <div class="form-group">
            <label for="adress">Adresse</label>
            <input type="text" id="adress"
                   class="form-control" formControlName="adress"[ngClass]="{ 'is-invalid': FournisseurForm.get('adress').invalid && FournisseurForm.get('adress').touched}">
                   <div class="invalid-feedback alert alert-danger">
                    Adress is required.
                     </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="Email" id="title" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': FournisseurForm.get('email').invalid && FournisseurForm.get('email').touched}">
             <div class="invalid-feedback alert alert-danger" *ngIf="FournisseurForm.get('email').errors?.required">
                      Email is required
             </div>
             <div class="invalid-feedback alert alert-danger" *ngIf="FournisseurForm.get('email').errors?.email" >
                      Email must be a valide email
             </div>
          </div>
          <div class="form-group">
            <label for="tel">Télephone</label>
            <input type="Telephone" id="tel"
                   class="form-control" formControlName="tel" [ngClass]="{ 'is-invalid': FournisseurForm.get('tel').invalid && FournisseurForm.get('tel').touched}">
                   <div class="invalid-feedback alert alert-danger" *ngIf="FournisseurForm.get('tel').errors?.required">
                       Telephone is required
                    </div>
                    <div class="invalid-feedback alert alert-danger" *ngIf="FournisseurForm.get('tel').errors?.minlength">
                       Telephone must be atlesast 10 numbers
                    </div>
          </div>
        
       
      
         
       
      <button class="btn btn-success" [disabled]="FournisseurForm.invalid "
            type="submit">Enregistrer
      </button>
      <button class="btn btn-warning pull-right " style="margin-left: 5px;" (click)="onBack()">Retour</button>
      </form>
      </div>
      
    <div class="col-md-2"></div>
    </div>
  </div>
</div>