<div style="background-color: #286090 ; text-align: center;" class="text-white text-uppercase px-3 py-1 mb-2">
  <strong>Les Catégories des matérielles</strong>
</div>
<div class="" >
    <div class="card">
      <div class="card-body">
    <button class="btn btn-outline-primary mr-2 mb-2" (click)="onNewCategory()" >Ajouter une catégorie</button>
    <br>
    <nz-table #smallTable nzSize="small" *ngIf="ListCategories" [nzData]="this.ListCategories._embedded.categories">
      <thead>
        <tr>
          <th>No.</th>
          
          <th>Intitulé</th>
          <th>Désignation</th>
          <th>Actions</th>
          
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of smallTable.data">
          <td>{{element.id_category}}</td>
          <td>{{element.intitule}} </td>
          <td>{{element.designation}}</td>

          <td>
           
              <button type="button" class="btn btn-squared btn-outline-warning mr-2 mb-2" (click)="onEdite(element.id_category)"><i aria-hidden="true" class="fe fe-edit mr-1"></i>Edite</button>
              <button type="button" class="btn btn-squared btn-outline-danger mr-2 mb-2" (click)="onDelete(element.id_category)"><i aria-hidden="true" class="icmn-bin"></i>Supprimer </button>
     
          </td>
        </tr>
      </tbody>
    </nz-table>
    </div>
    </div>
    
    

    

















